#title, #description {
    text-align: center;
}

svg{
    display: block;
    margin: 0 auto
}

.tooltip {
    padding: 5px;
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 5px;
    /* box-shadow: 2px 2px 20px black; */
    font-size: 0.8em;
    text-align: left;
}